<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_register/css/style.css' %}">   
    <title>Login Register</title>
</head>
<body>
    <div class="register">
        <h1>Welcome, {{user.first_name}}!</h1>
        <h2 style='color: green'>Successfully registered( or logged in)!</h2>
    </div>
    <div class="logout">
        <a href="/logout">Log out</a>
    </div>
</body>
</html>
    